body {
	background-color: #0E239C;
	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'Indie Flower', cursive;
}

html {
	height: 100%;
}

h1 {
	margin: 0px;
}

#header {
	padding: 20px;
	background-color: aqua;
	text-align: center;
}

#content {
	margin: 40px;
}

#container {
	background-color: white;
	width: 580px;
	margin: auto;
	height: 100vh;
}